<a href="https://colab.research.google.com/github/ClovisL/pandas-video-game-purchases-analysis/blob/main/HeroesOfPymoli/HeroesOfPymoli_starter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "https://raw.githubusercontent.com/ClovisL/pandas-video-game-purchases-analysis/main/HeroesOfPymoli/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data

     Purchase ID  ... Price
0              0  ...  3.53
1              1  ...  1.56
2              2  ...  4.88
3              3  ...  3.27
4              4  ...  1.44
..           ...  ...   ...
775          775  ...  3.54
776          776  ...  1.63
777          777  ...  3.46
778          778  ...  4.19
779          779  ...  4.60

[780 rows x 7 columns]

## Player Count

* Display the total number of players

In [ ]:
# Counts the total number of unique players
player_count = purchase_data["SN"].nunique()
total_players = pd.DataFrame({"Total Players": [player_count]})

total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Counts the number of unique items, average price, total purchases, and total revenue
# Puts all numbers into a summary data frame, formats it, then displays it
unique_items = purchase_data["Item Name"].nunique()
average_price = purchase_data["Price"].mean()
total_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

# Creates the data frame, with number of unique items, average price, and total purchases and revenue
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                          "Average Price": [average_price],
                          "Total Purchases": [total_purchases],
                          "Total Revenue": [total_revenue]})

# Formats the data frame for better context
summary_df["Average Price"] = summary_df["Average Price"].astype(float).map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].astype(float).map("${:,.2f}".format)

summary_df

   Number of Unique Items Average Price  Total Purchases Total Revenue
0                     179         $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
# Counts the number of Male, Female, and Other for each unique name

# Variable for grouping each individual by gender
individuals_by_gender = purchase_data.groupby("Gender")["SN"].nunique()

# Calculates their percentages and creates a data frame
gender_df = pd.DataFrame(individuals_by_gender)

# Creates the data frame for each gender
gender_df["Percentage of Players"] = individuals_by_gender / player_count * 100

# Cleans up the data frame
gender_df = gender_df.rename(columns={"SN": "Total Count"})
gender_df.sort_values(by=["Total Count"], inplace=True, ascending=False)
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].astype(float).map("{:,.2f}%".format)

gender_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Calculates purchase count, total purchase value, average price, and average purchase total per person by gender

# Price of items, grouped accoring to gender
price_by_gender = purchase_data.groupby("Gender")["Price"]

# Creates the data frame, grouping by gender
gender_purchases_df = pd.DataFrame(purchase_data.groupby("Gender")["Purchase ID"].count())
gender_purchases_df = gender_purchases_df.rename(columns={"Purchase ID": "Purchase Count"})
gender_purchases_df["Average Purchase Price"] = price_by_gender.mean()
gender_purchases_df["Total Purchase Value"] = price_by_gender.sum()
gender_purchases_df["Avg Total Purchase per Person"] = price_by_gender.sum() / individuals_by_gender

# Cleaning up the data frame
gender_purchases_df.sort_values(by=["Purchase Count"], inplace=True, ascending=False)
gender_purchases_df["Average Purchase Price"] = gender_purchases_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
gender_purchases_df["Total Purchase Value"] = gender_purchases_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
gender_purchases_df["Avg Total Purchase per Person"] = gender_purchases_df["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

gender_purchases_df

                       Purchase Count  ... Avg Total Purchase per Person
Gender                                 ...
Male                              652  ...                         $4.07
Female                            113  ...                         $4.47
Other / Non-Disclosed              15  ...                         $4.56

[3 rows x 4 columns]

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# Determines age demographics

# Establish bins and labels for age ranges
bins = [0, 9, 14, 19, 24, 29, 34, 39, 9999]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39", "40+"]

# Creates data frame, grouping by the average age of each individual
age_df = pd.DataFrame(purchase_data.groupby("SN")["Age"].mean())
# Slice the data and place it into bins
age_df["Age Ranges"] = pd.cut(age_df["Age"], bins, labels=group_labels)

# Groups data by age range, initializes summary table
age_df_summary = pd.DataFrame()
age_group = age_df.groupby("Age Ranges")
total_by_age_group = age_group["Age"].count()

# Calculates and adds columns and values to summary table
age_df_summary["Total Count"] = total_by_age_group
age_df_summary["Percentage of Players"] = total_by_age_group / player_count * 100

# Formats the table
age_df_summary["Percentage of Players"] = age_df_summary["Percentage of Players"].astype(float).map("{:,.2f}%".format)

age_df_summary

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Slices the data, creates a new column in main data frame for age ranges
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

# Calculates purchase data grouped by age ranges
age_purchases_total = purchase_data.groupby(["Age Ranges"]).sum()["Price"]
age_purchases_average = purchase_data.groupby(["Age Ranges"]).mean()["Price"]
age_purchases_counts = purchase_data.groupby(["Age Ranges"]).count()["Price"]
age_purchases_per_person = age_purchases_total / age_df_summary["Total Count"]

# Creates the data frame according to calculated data by age ranges
age_purchase_analysis_df = pd.DataFrame({"Purchase Count": age_purchases_counts,
                                        "Average Purchase Price": age_purchases_average,
                                        "Total Purchase Value": age_purchases_total,
                                        "Avg Total Purchase per Person": age_purchases_per_person})

# Cleaning up the data frame
age_purchase_analysis_df["Average Purchase Price"] = age_purchase_analysis_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
age_purchase_analysis_df["Total Purchase Value"] = age_purchase_analysis_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
age_purchase_analysis_df["Avg Total Purchase per Person"] = age_purchase_analysis_df["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

age_purchase_analysis_df

            Purchase Count  ... Avg Total Purchase per Person
Age Ranges                  ...
<10                     23  ...                         $4.54
10-14                   28  ...                         $3.76
15-19                  136  ...                         $3.86
20-24                  365  ...                         $4.32
25-29                  101  ...                         $3.81
30-34                   73  ...                         $4.12
35-39                   41  ...                         $4.76
40+                     13  ...                         $3.19

[8 rows x 4 columns]

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Calculates purchase count, total purchase value, and average price for top spenders

# Price of items, grouped accoring to person
price_by_person = purchase_data.groupby("SN")["Price"]

# Creates the data frame, grouping by person
top_spenders_df = pd.DataFrame(purchase_data.groupby("SN")["Purchase ID"].count())
top_spenders_df = top_spenders_df.rename(columns={"Purchase ID": "Purchase Count"})
top_spenders_df["Average Purchase Price"] = price_by_person.mean()
top_spenders_df["Total Purchase Value"] = price_by_person.sum()

# Cleaning up the data frame
top_spenders_df.sort_values(by=["Total Purchase Value"], inplace=True, ascending=False)
top_spenders_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)

top_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.41               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Calculates purchase count, total purchase value, average price, and average purchase total per person by gender

# Price and names of items, grouped accoring to item ID
price_by_item = purchase_data.groupby("Item ID")["Price"]
item_names = purchase_data.groupby("Item ID")["Item Name"].unique()

# Creates the data frame, grouping by item ID
popular_item_df = pd.DataFrame(purchase_data.groupby("Item ID")["Purchase ID"].count())
popular_item_df = popular_item_df.rename(columns={"Purchase ID": "Purchase Count"})
popular_item_df["Item Name"] = item_names
popular_item_df["Item Price"] = price_by_item.mean()
popular_item_df["Total Purchase Value"] = price_by_item.sum()

# Cleaning up the data frame
popular_item_df.sort_values(by=["Purchase Count"], inplace=True, ascending=False)
popular_item_df["Item Price"] = popular_item_df["Item Price"].astype(float).map("${:,.2f}".format)
popular_item_df["Total Purchase Value"] = popular_item_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
# Setting Item ID and Item Name as both indexes
popular_item_df["Item Name"] = popular_item_df["Item Name"].str.join("")
popular_item_df = popular_item_df.reset_index()
popular_item_df = popular_item_df.set_index(["Item ID", "Item Name"])

popular_item_df.head()

                                                      Purchase Count  ... Total Purchase Value
Item ID Item Name                                                     ...
92      Final Critic                                              13  ...               $59.99
178     Oathbreaker, Last Hope of the Breaking Storm              12  ...               $50.76
145     Fiery Glass Crusader                                       9  ...               $41.22
132     Persuasion                                                 9  ...               $28.99
108     Extraction, Quickblade Of Trembling Hands                  9  ...               $31.77

[5 rows x 3 columns]

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
# Creates the data frame, grouping by item ID
profitable_item_df = pd.DataFrame(purchase_data.groupby("Item ID")["Purchase ID"].count())
profitable_item_df = profitable_item_df.rename(columns={"Purchase ID": "Purchase Count"})
profitable_item_df["Item Name"] = item_names
profitable_item_df["Item Price"] = price_by_item.mean()
profitable_item_df["Total Purchase Value"] = price_by_item.sum()

# Cleaning up the data frame
profitable_item_df.sort_values(by=["Total Purchase Value"], inplace=True, ascending=False)
profitable_item_df["Item Price"] = profitable_item_df["Item Price"].astype(float).map("${:,.2f}".format)
profitable_item_df["Total Purchase Value"] = profitable_item_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
# Setting Item ID and Item Name as both indexes
profitable_item_df["Item Name"] = profitable_item_df["Item Name"].str.join("")
profitable_item_df = profitable_item_df.reset_index()
profitable_item_df = profitable_item_df.set_index(["Item ID", "Item Name"])

profitable_item_df.head()

                                                      Purchase Count  ... Total Purchase Value
Item ID Item Name                                                     ...
92      Final Critic                                              13  ...               $59.99
178     Oathbreaker, Last Hope of the Breaking Storm              12  ...               $50.76
82      Nirvana                                                    9  ...               $44.10
145     Fiery Glass Crusader                                       9  ...               $41.22
103     Singed Scalpel                                             8  ...               $34.80

[5 rows x 3 columns]